.flex-demo .zz-flex {
  margin-top: .1rem;
}
.flex-demo .zz-flex-item {
  line-height: .6rem;
  margin: .2rem;
  text-align: center;
  background-color: #ccc;
}
.zz-grid-demo .zz-grids {
  margin-top: .2rem;
}
.zz-grid-demo .zz-grids > [class^="zz-grid-"] {
  line-height: .6rem;
  padding: .2rem;
  text-align: center;
}
.zz-button-demo {
  margin-top: .2rem;
  padding: 0 .3rem;
}
.zz-button-demo .zz-btn {
  margin-top: .2rem;
}
.zz-button-group-demo {
  margin-top: .2rem;
  padding: 0 .3rem;
}
