.borderBase {
  content: " ";
  position: absolute;
}
.zz-body > div {
  margin-top: .2rem;
}
.flex-demo .zz-flex {
  margin-top: .1rem;
}
.flex-demo .zz-flex-item {
  line-height: .6rem;
  margin: .2rem;
  text-align: center;
  background-color: #ccc;
}
.zz-grid-demo .zz-grids > [class^="zz-grid-"] {
  line-height: .6rem;
  padding: .2rem;
  text-align: center;
}
.zz-button-demo {
  padding: 0 .3rem;
}
.zz-button-demo .zz-btn {
  margin-top: .2rem;
}
.zz-button-group-demo {
  padding: 0 .3rem;
}
.cell-form-demo .zz-cell-input input,
.cell-form-demo .zz-cell-select p {
  text-align: right;
}
.zz-cells {
  margin-top: .2rem;
}
.zz-cells-checkbox-demo {
  position: relative;
  margin: 0 .6rem;
}
.zz-cells-checkbox-demo:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid #d9d9d9;
  color: #d9d9d9;
}
.zz-cells-checkbox-demo:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid #d9d9d9;
  color: #d9d9d9;
}
