.borderBase {
  content: " ";
  position: absolute;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
  font-size: .28rem;
}
* {
  margin: 0;
  padding: 0;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #ececec;
}
/* 主容器 */
.zz-container {
  position: relative;
  box-sizing: border-box;
}
/* block包裹容器 */
.zz-b {
  display: block;
}
/* inline-block包裹容器 */
.zz-ib {
  display: inline-block;
}
/* heeder */
.zz-header {
  height: .8rem;
}
.zz-header-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: .8rem;
  background-color: #ff6600;
  z-index: 50;
}
/* body */
.zz-body {
  padding-bottom: .2rem;
}
/* footer */
.zz-footer {
  height: .8rem;
}
.zz-footer-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: .8rem;
  background-color: #0f0;
  z-index: 50;
}
.zz-flex {
  display: flex;
}
.zz-flex-item {
  flex: 1;
}
.zz-grids {
  position: relative;
  overflow: hidden;
}
.zz-grids > [class^="zz-grid-"] {
  position: relative;
  float: left;
  box-sizing: border-box;
}
.zz-grids > [class^="zz-grid-"]:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid #d9d9d9;
  color: #d9d9d9;
}
.zz-grids > [class^="zz-grid-"]:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #d9d9d9;
  color: #d9d9d9;
}
.zz-grids > [class^="zz-grid-"]:active {
  background-color: #ECECEC;
}
.zz-grids:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #d9d9d9;
  color: #d9d9d9;
  z-index: 2;
}
.zz-grid-3 {
  width: 33.3333333%;
}
.zz-grid-3:nth-child(3n):before {
  display: none;
}
.zz-grid-4 {
  width: 25%;
}
.zz-grid-4:nth-child(4n):before {
  display: none;
}
.zz-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: .2rem;
  padding-right: .2rem;
  box-sizing: border-box;
  font-size: .28rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: .84rem;
  border-radius: .84rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  background-color: #f29360;
}
.zz-btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: .84rem;
}
.zz-btn:not(.zz-btn-disabled):visited {
  background-color: #e38755;
}
.zz-btn:not(.zz-btn-disabled):active {
  background-color: #e38755;
}
.zz-btn-group {
  font-size: 0;
}
.zz-btn-group .zz-btn {
  display: inline-block;
  line-height: .64rem;
  margin-right: .2rem;
  vertical-align: bottom;
  border-radius: .2rem;
}
.zz-btn-group button.zz-btn,
.zz-btn-group input[type="button"].zz-btn {
  width: auto;
}
.zz-btn-disabled {
  color: rgba(255, 255, 255, 0.8);
  background-color: #d4d4d4;
}
button.zz-btn,
input[type='button'].zz-btn {
  width: 100%;
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
}
button.zz-btn:focus,
input[type='button'].zz-btn:focus {
  outline: 0;
}
.zz-btn + .zz-btn {
  margin-top: .2rem;
}
.zz-cells {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.zz-cells:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #d9d9d9;
  color: #d9d9d9;
}
.zz-cells__title {
  margin-top: .25rem;
  margin-bottom: .1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  color: #999;
  font-size: .28rem;
}
.zz-cells__title + .zz-cells {
  margin-top: 0;
}
.zz-cell {
  position: relative;
  display: flex;
  padding: .2rem .3rem;
  align-items: center;
  font-size: .3rem;
}
.zz-cell:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #d9d9d9;
  color: #d9d9d9;
}
.zz-check-label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.zz-check-label:active {
  background-color: #ECECEC;
}
.zz-cell-hd img {
  display: block;
}
.zz-cell-bd {
  flex: 1;
}
.zz-label {
  display: block;
  width: 1.4rem;
  word-wrap: break-word;
  word-break: break-all;
}
.zz-cell-input .zz-cell-bd {
  padding: 0 .2rem;
}
.zz-input {
  width: 100%;
  line-height: .4rem;
  border: 0;
  outline: 0;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.zz-input::-webkit-outer-spin-button,
.zz-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.zz-cell-access:active {
  background-color: #ECECEC;
}
.zz-cell-access .zz-cell-ft {
  position: relative;
  padding-right: .2rem;
  color: #999;
}
.zz-cell-access .zz-cell-ft:after {
  content: "";
  display: inline-block;
  height: 0.14rem;
  width: 0.14rem;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.3em;
}
.zz-cell-select .zz-cell-bd {
  position: relative;
  padding: 0 .2rem;
}
.zz-cell-select .zz-cell-bd:after {
  content: "";
  display: inline-block;
  height: 0.14rem;
  width: 0.14rem;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
  position: relative;
  top: -3px;
  position: absolute;
  top: 50%;
  right: -0.1rem;
  margin-top: -0.13rem;
}
.zz-cells-radio .zz-cell {
  padding: .3rem;
}
.zz-cells-radio .zz-cell-bd {
  padding: 0 .2rem;
}
.zz-cells-radio .zz-cell-ft {
  width: .3rem;
}
.zz-cells-radio .zz-cell-ft .zz-radio {
  position: absolute;
  left: -999rem;
}
.zz-cells-radio .zz-cell-ft .zz-radio:checked + i.icon {
  display: block;
}
.zz-cells-radio .zz-cell-ft i.icon {
  position: relative;
  right: 0;
  display: none;
  transform: scale(1.2);
  color: #445c95;
}
.zz-cells-checkbox .zz-cell {
  padding: .3rem;
}
.zz-cells-checkbox .zz-cell-hd {
  width: .3rem;
}
.zz-cells-checkbox .zz-cell-hd .zz-checkbox {
  position: absolute;
  left: -999rem;
}
.zz-cells-checkbox .zz-cell-hd .zz-checkbox:checked + i {
  color: #445c95;
}
.zz-cells-checkbox .zz-cell-hd .zz-checkbox:checked + i::before {
  content: "\f375";
}
.zz-cells-checkbox .zz-cell-hd i.icon {
  color: #C9C9C9;
}
.zz-cells-checkbox .zz-cell-hd i.icon:before {
  transform: scale(1.6);
}
.zz-cells-checkbox .zz-cell-bd {
  padding: 0 .2rem;
  line-height: 1;
}
.zz-cells-checkbox .zz-cell-bd img {
  vertical-align: middle;
}
.zz-badge {
  display: inline-block;
  min-width: .06rem;
  line-height: 1.2;
  margin-top: -0.05rem;
  padding: .025rem .1rem;
  border-radius: .14rem;
  background-color: #F43530;
  color: #FFFFFF;
  text-align: center;
  font-size: .24rem;
  vertical-align: middle;
}
.zz-badge-dot {
  padding: .1rem;
  min-width: 0;
}
