.borderBase {
  content: " ";
  position: absolute;
}
.icon_rotate {
  font-size: .28rem;
}
.icon_rotate:before {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: iconRorate 1s steps(12, end) infinite;
  animation: iconRorate 1s steps(12, end) infinite;
}
@-webkit-keyframes iconRorate {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes iconRorate {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
  font-size: .28rem;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.zz-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.zz-flex__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.zz-grids {
  position: relative;
  overflow: hidden;
}
.zz-grids > [class^="zz-grid"] {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.zz-grids > [class^="zz-grid"]:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid #D9D9D9;
  color: #D9D9D9;
}
.zz-grids > [class^="zz-grid"]:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
}
.zz-grids > [class^="zz-grid"]:active {
  background-color: #ECECEC;
}
.zz-grids:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
  z-index: 2;
}
.zz-grid {
  width: 33.3333333%;
}
.zz-grid:nth-child(3n):before {
  display: none;
}
.zz-grids_4 .zz-grid {
  width: 25%;
}
.zz-grids_4 .zz-grid:nth-child(4n):before {
  display: none;
}
.zz-btn {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: .2rem;
  padding-right: .2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .28rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: .8rem;
  border-radius: .15rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  background-color: #f29360;
}
.zz-btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .15rem;
}
.zz-btn:not(.zz-btn_disabled):visited {
  background-color: #e38755;
}
.zz-btn:not(.zz-btn_disabled):active {
  background-color: #e38755;
}
.zz-btn_mini {
  width: auto;
  display: inline-block;
  line-height: .64rem;
  margin-right: .2rem;
  vertical-align: bottom;
  border-radius: .1rem;
  font-size: .24rem;
}
.zz-btn_disabled {
  color: rgba(255, 255, 255, 0.8);
  background-color: #d4d4d4;
}
.zz-btn_default {
  color: #000000;
  background-color: #fff;
}
.zz-btn_default:not(.zz-btn_disabled):visited {
  color: #000000;
}
.zz-btn_default:not(.zz-btn_disabled):active {
  color: rgba(0, 0, 0, 0.6);
  background-color: #DEDEDE;
}
.zz-btn_warn {
  background-color: #E64340;
}
.zz-btn_warn:not(.zz-btn_disabled):visited {
  color: #FFFFFF;
}
.zz-btn_warn:not(.zz-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #CE3C39;
}
.zz-btn_loading .ion-load-c {
  height: .5rem;
  width: .5rem;
  margin-right: .1rem;
}
.zz-btn_loading.zz-btn_disabled {
  color: rgba(255, 255, 255, 0.6);
  background-color: #CE3C39;
}
button.zz-btn,
input[type='button'].zz-btn {
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
}
button.zz-btn:focus,
input[type='button'].zz-btn:focus {
  outline: 0;
}
.zz-btn + .zz-btn {
  margin-top: .2rem;
}
.zz-cells {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
.zz-cells:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
}
.zz-cells__title {
  margin-top: .25rem;
  margin-bottom: .1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  color: #999;
  font-size: .28rem;
}
.zz-cells__title + .zz-cells {
  margin-top: 0;
}
.zz-cell {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .2rem .3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .3rem;
}
.zz-cell:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
}
.zz-check-label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.zz-check-label:active {
  background-color: #ECECEC;
}
.zz-cell__hd img {
  display: block;
}
.zz-cell__bd {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 .2rem;
}
.zz-cell_access {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.zz-cell_access:active {
  background-color: #ECECEC;
}
.zz-cell_access .zz-cell__ft {
  padding-right: .2rem;
  position: relative;
}
.zz-cell_access .zz-cell__ft:after {
  content: " ";
  display: inline-block;
  height: 0.16rem;
  width: 0.16rem;
  border-width: 0.02rem 0.02rem 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.09rem;
}
.zz-cell_swiped {
  display: block;
  padding: 0;
}
.zz-cell_swiped > div.zz-cell__bd {
  position: relative;
  padding: 0;
  z-index: 2;
  background-color: #fff;
}
.zz-cell_swiped > div.zz-cell__ft {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 0;
}
.zz-swiped-btn {
  display: inline-block;
  line-height: 2.9303;
  padding: 0 .3rem;
  font-size: .3rem;
  color: #fff;
}
.zz-swiped-btn_default {
  background-color: #C7C7CC;
}
.zz-swiped-btn_warn {
  background-color: #FF3B30;
}
.zz-badge {
  display: inline-block;
  min-width: .06rem;
  line-height: 1.2;
  margin-top: -0.06rem;
  padding: .025rem .11rem;
  border-radius: .14rem;
  background-color: #F43530;
  color: #FFFFFF;
  text-align: center;
  font-size: .24rem;
  vertical-align: middle;
}
.zz-badge__dot {
  padding: .1rem;
  min-width: 0;
}
.zz-mask {
  position: fixed;
  z-index: 1111;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.zz-mask_transparent {
  background: rgba(0, 0, 0, 0);
}
.zz-divider {
  position: relative;
  width: 80%;
  line-height: .4rem;
  margin: .5rem auto .4rem;
  text-align: center;
}
.zz-divider:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border: 1px solid #CFCFCF;
  z-index: 1;
}
.zz-divider .zz-divider__tips {
  position: relative;
  padding: 0 .15rem;
  color: #999;
  background-color: #EFEFF4;
  z-index: 2;
}
.zz-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: .85rem;
  z-index: 600;
  background-color: #fff;
}
.zz-nav + .zz-tab__panel {
  padding-top: .85rem;
}
.zz-nav__left,
.zz-nav__right {
  position: absolute;
  top: 50%;
  font-size: .32rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.zz-nav__left {
  left: .2rem;
}
.zz-nav__right {
  right: .2rem;
}
.zz-nav__iconbtn {
  font-size: .48rem;
  vertical-align: middle;
  overflow: hidden;
}
.zz-nav__iconbtn:before {
  width: .65rem;
  line-height: .85rem;
  text-align: center;
}
.zz-nav__textbtn {
  padding: .1rem .15rem;
  vertical-align: middle;
}
.zz-nav__iconbtn:active,
.zz-nav__textbtn:active {
  opacity: 0.6;
}
.zz-nav__title {
  height: .85rem;
  line-height: .85rem;
  margin: 0 2rem;
  font-size: .34rem;
  text-align: center;
}
.zz-nav__title span {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.zz-tabbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  z-index: 600;
  background-color: #F7F7FA;
}
.zz-tab {
  position: relative;
  height: 100%;
}
.zz-tab__panel {
  height: 100%;
  padding: 0 .3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: #EFEFF4;
}
#app {
  height: 100%;
}
.zz-page {
  position: relative;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.zz-page-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
