@import "../../base/fn";

//顶部导航工具栏
//nav层 层级500-1000
.zz-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: .85rem;
  z-index: 600; // font-size: 0;
  background-color: #fff;
  &+.zz-tab__panel {
    padding-top: .85rem;
  }
}

.zz-nav__left,
.zz-nav__right {
  position: absolute;
  top: 50%;
  font-size: .32rem;
  transform: translateY(-50%);
}

.zz-nav__left {
  left: .2rem; // height: .85rem;
  // margin-top: .1rem;
}

.zz-nav__right {
  right: .2rem;
}

.zz-nav__iconbtn {
  // float: left;
  font-size: .48rem;
  vertical-align: middle;
  &:before {
    width: .65rem;
    line-height: .85rem;
    text-align: center;
  }
  overflow: hidden;
}

.zz-nav__textbtn {
  // float: left;
  // display: inline-block;
  // line-height: .85rem;
  padding: .1rem .15rem; // font-size: .32rem;
  vertical-align: middle; // 
}

.zz-nav__iconbtn,
.zz-nav__textbtn{
	&:active{
		opacity: 0.6;
	}
}

.zz-nav__title {
  height: .85rem;
  line-height: .85rem;
  margin: 0 2rem;
  font-size: .34rem;
  text-align: center;
  .ellipsisLn(1);
  span {
    display: inline-block;
    vertical-align: top;
  }
}