@import "../../base/fn";

@import "zz-nav";
@import "zz-tabbar";

//页面主内容面板，主内容挂载在此节点下
.zz-tab {
  position: relative;
  height: 100%;
}

//content层 层级 0-500
.zz-tab__panel {
  height: 100%;
  padding: 0 .3rem;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}